---
import { getHobbies } from "../utils/portfolio-data-utils";

const mode = 'prod' ; //TODO: NOTE: change if you want to see directus local retrieval; kept simple and didn't use .env or conf files
if (mode === 'dev')
    const hobbies = await getHobbies();

---
<div>
    {
        mode === 'dev' ?
            <h4>TLDR of my hobbies (retrieved from backend through local Directus)</h4>
            <ul>
                {
                    hobbies.map(hobby => (
                            <li key={hobby.id}>
                                {hobby.title} {hobby.description === "NULL" ? '' : `- ${hobby.description}`}
                            </li>
                    ))
                }
            </ul>
            :
            ''
    }

</div>